<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="aboutUs.css">
    <title>About Us </title>
    
</head>
<body>
    
    





    
    <div class="about-section">
        <a href="/gotomain"><button>Go to Shopping</button></a>
        <h1>About Us Page</h1>
        <p>Our software team is a diverse assembly of professionals, each bringing a unique set of skills and experiences to the table. From seasoned architects to up-and-coming coding prodigies, we collaborate to harness the power of technology and build applications that streamline processes, solve challenges, and bring value to our clients and users.</p>
      </div>
      
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="/photos/Harsh.jpg" alt="Jane" style="width:100%">
            <div class="container">
              <h2>Harsh Kumar Yaduvanshi</h2>
              <p class="title">Software Developer</p>
              <p>harsh19ec021@satiengg.in</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="/photos/kk.png" alt="Mike" style="width:100%">
            <div class="container">
              <h2>Krishnkant Kushwah</h2>
              <p class="title">Software Developer</p>
              <p>krishnkant9856@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="/photos/Akshata.jpg" alt="John" style="width:100%">
            <div class="container">
              <h2>Akshata Trivedi</h2>
              
              <p class="title">Software Developer</p>
              <p>akshatatrivedi1@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="/photos/jagruti.jpg" alt="John" style="width:100%">
          <div class="container">
            <h2>Jagruti Mahajan</h2>
            <p class="title">Software Developer</p>
            <p>mahjanjagruti06@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
        <div class="card">
          <img src="/photos/Yashwant.jpg" alt="John" style="width:100%">
          <div class="container">
            <h2>Yashwant Sarathe</h2>
            <p class="title">Software Developer</p>
            <p>yashwantsarathe360@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    </div>
    
</body>
</html>