<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
  <title>Login Page</title>
</head>

<body>


    <form name="login" action="/updateuser" method="post">
  <div class="card">
    <div class="form">
      <h3>Login</h3>
      <div class="input-field">
        <i class="fa fa-envelope"></i>
        <input type="email" id="email" name="email" placeholder="Enter your Email/Username">
      </div>
      <div class="input-field">
        <i class="fa fa-lock"></i>
        <input type="password"   id="password" name="password" required placeholder="Enter your password">
      </div>
      <a href="#">Forgot password?</a>
    

        <button>Login</a></button>

    
       
      <!-- <p>Don't have an account? <a href="signup.html">Signup now</a></p> -->
    </div>
    <div class="image">
      <div class="overlay">
        <h3>Welcome to the<br>Shopping Website</h3>
        <p>Let's do some shopping</p>
      </div>
    </div>
  </div>
</body>
</html>